.container {
    display: block;
}

.email {
    position: relative;
    width: 313px;
    height: 44px;
    left: 50px;
    top: 140px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;

}

.senha {

    position: relative;
    width: 313px;
    height: 44px;
    left: -265px;
    top: 199px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;

}

.title {
    position: relative;
    width: 217px;
    height: 54px;
    font-family: Advent Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 186.5%;
    text-align: center;
    color: rgba(0, 0, 0, 0.44);

    top: 130px;
    left: 45px;

}

.prancheta {
    position: relative;
    top: 65px;
    left: 90px
}
.botao {
    position: relative;
    width: 151px;
    height: 40px;
    left: -580px;
    top: 260px;
    background: #2EAFB2;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 186.5%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    z-index: 3;

 }

 @media only screen and (max-width: 728px) {
    .email {
        width: 156px;
        height: 22px;
        top: 90px;
        left: 30px
    }

    .senha {
        width: 156px;
        height: 22px;
        top: 120px;
        left: -126px;
    }

    .title {
        width: 108px;
        height: 20px;
        font-size: 13px;
        top: 80px;
        left: 28px

    }

    .prancheta {
        width: 129px;
        height: 38px;
        left: 50px;
        top: 35px;
    }

    .botao {
        width: 75px;
        height: 20px;
        font-size: 10px;
        left: -280px;
        top: 150px;
    }
 }